*
!.gitignore
!blueprince.apworld
!Players/
!Players/BluePrince.yaml
!BluePrinceArchipelago-1.0.2.zip
!blueprince-plugin/
!blueprince-plugin/BluePrinceArchipelago/
!blueprince-plugin/BluePrinceArchipelago/bin/
!blueprince-plugin/BluePrinceArchipelago/bin/Release/
!blueprince-plugin/BluePrinceArchipelago/bin/Release/BluePrinceArchipelago-1.0.1.zip